html, body {
  margin: 0;
  padding: 0;
  font-family: 'Gabriola', 'Cambria', sans-serif;
  font-size: 18px;
}

.nav {
  background: #000;
  height: 80px;
  width: 100%;
  display: inline-block;
}

.nav ul {
  height: 80px;
  list-style: none;
  /*margin: 0;
  padding: 0;
  text-align: center;*/
}

.nav ul li {
  color: #fff;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
  /*transition: background .5s;*/
}

.nav ul li:hover {
  background: #003333;
  cursor: pointer;
  transition: background 1s;
  padding: 5px 10px;
}

.nav a {color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

.body {
background-color: white;
height: 500px;
/*padding-left: 25px;*/
text-align: center;
}

button[type=submit] {
  background-color: #003333;
  border: none;
  color: white;
  padding: 10px 15px;
  text-decoration: none;
  margin: 4px 2px;
  cursor: pointer;
}

.button:active {
  background-color: #000;
  transform: translateY(4px);
}

.footer {
background: #000;
height: 80px;
}

.footer p {
  color: #fff;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  margin-left: 25px;
}
