@font-face {
  font-family: 'Rancho';
  font-style: normal;
  font-weight: 400;
  font-display: swap;
  src: url(https://fonts.gstatic.com/s/rancho/v11/46kulbzmXjLaqZRVam_h.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;}

html, body {
  margin: 0;
  padding: 0;
  font-family: "Gentium Book Basic", "Gabriola", "Cambria", serif;
  font-size: 18px;
}

h1, .body {
  margin-left: 25px
}

.nav {
  background: #000;
  height: 80px;
  width: 100%;
}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav ul li {
  color: #fff;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
  transition: background .5s;
}

.nav ul li:hover {
  background: #003333;
  cursor: pointer;
  transition: background .5s;
}

.nav a {color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

button {
  background-color: #003333;
  border: none;
  font-size: 14px;
  color: white;
  text-align: center;
  display: block;
  padding: 18px, 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 25px;
}

.body {
  float: left;
  width: 65%;
}

.footer {
background: #000;
height: 80px;
clear: both;
}

.footer p {
  color: #fff;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  margin-left: 25px;
}
