html, body {
  margin: 0;
  padding: 0;
}

h1, .body {
  margin-left: 25px
}

.nav {
  background: #000;
  height: 80px;
  width: 100%;

}

.nav ul {
  height: 80px;
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
}

.nav ul li {
  color: #fff;
  display: inline-block;
  height: 80px;
  line-height: 80px;
  list-style: none;
  padding: 0 10px;
  transition: background .5s;
}

.nav ul li:hover {
  background: #003333;
  cursor: pointer;
  transition: background .5s;
}

.nav a {color: white;
  text-decoration: none;
  text-align: center;
  display: inline-block;
}

button {
  background-color: #009999;
  border: none;
  font-size: 14px;
  color: white;
  text-align: center;
  display: block;
  padding: 18px, 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  margin-left: 25px;
}

.body {
  float: left;
  width: 65%;
}

.footer {
background: #000;
height: 80px;
padding-bottom: 25px;
}

.footer p {
  color: #fff;
  font-size: 14px;
  height: 80px;
  line-height: 80px;
  margin: 0;
  padding-left: 25px;
}
