html, body {
  margin: 0;
  padding-left: 25px;
}

button {
  background-color: #009999;
  border: none;
  font-size: 14px;
  color: white;
  text-align: center;
  display: block;
  padding: 18px, 60px;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

.body {
  float: left;

}
