


.header {
  background: url(https://raw.githubusercontent.com/amizrob/unendedquest/master/forest.jpg)no-repeat center;
  background-size: cover;
  text-align: center;
  height: 800px;
  margin: 0 auto;
}

.container {
  margin: 0;
  text-align: center;
  max-width: 940px;
  padding: 0 10px;
  position: relative;
  top: 200px;
}

.header h1 {
  line-height: 200px;
  font-size: 80px;
  margin-top: 0;
  margin-bottom: 80px;

}

.posts {
  background-color: black;
  color: white;
}
