


.header {
  background: url(https://raw.githubusercontent.com/amizrob/unendedquest/master/forest.jpg)no-repeat center;
  background-size: cover;
  text-align: center;
  height: 800px;
  margin: 0 auto;
  position: relative;
}

.header h1 h2{
  color: #009999
}
